@page
@model RazorPagesMovie.Pages_Movies.DeleteModel

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Desea eliminar este producto de la lista?</h3>
<div>
    <h4>Productos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Productos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Productos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.fechaingreso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.fechaingreso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Valorunitario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Valorunitario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Cantidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Cantidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Precio)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Movie.ID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index">Regresar a lista</a>
    </form>
</div>
